

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

html,
body {
    overscroll-behavior-y: contain;
}

section{
  margin-top: 50px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 20px;
}

fieldset{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;  
  max-width: 800px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

legend{
  padding: 6px;
}

table { 
  border-collapse: collapse; 
}

table td{
  min-width: 80px;
  padding: 10px;
  text-align: center;
}

table tr:hover, .classify tr:nth-child(2):hover, .classify tr:nth-child(3):hover, .classify tr:nth-child(4):hover, .classify tr:nth-child(5):hover{
  background-color: #000;
  color: #ddd;
  cursor: pointer;
  border: solid 1px black;
}

tr:nth-child(even){
  background-color: rgb(223, 221, 221);
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  text-indent: 1.5em;
  padding: 20px;
  margin-top: 0 ;
  margin-bottom: 0;
 }

 a:hover{
   cursor: pointer;
 }

h3{
  width: 100%;
  text-align: center;
}

button{
  cursor: pointer;
}

/* ///////////..utility classes../////////// */

    /*  ABAS (TAB) */

  .tab-bar{
    display: flex;
  }

  .tab-screen{
      overflow: scroll;
      border: solid;
      width: 100%;
      height: 80vh;
      margin-top: 0px;
  }

  .tab-item{
      margin: 20px 0 0 0;
      padding: 15px 15px 5px 15px;
      border: rgb(10, 10, 10) solid;
      border-radius: 15px 15px 0 0;
  }

  .tab-item:hover{
      background-color: #FFF8DC;
      cursor: pointer;
  }

  .tab-item:target{
      background-color: #16a083;
      color: ghostwhite;
      font-size: large;
  }

/* MAPs */

.map-view{
  position: relative;
}

.map-activity{
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 150px;
  z-index: 0;  
}

.leaflet-control-container {
 display: none;
}

.left-panel{
  width: 50%;
}

.panel-social{
  padding: 10px;
  display: flex;
  justify-content: space-between;  

}

.social-kudos{
  padding-top: 15px;
  color: rgb(155, 154, 154);
  font-size: 0.8em;
}

.right-panel{
  height: 130px;
}

.panel{
  display:flex;
  gap:20px;
}

.panel a:hover{
  color: #16a083;
}

.btn-backhand, .btn-primary{
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  margin: 1em;
  background: white;
  border: solid 1px white;
  color: rgb(155, 155, 155);
  border: solid 1px rgb(155, 155, 155);  
  max-width: calc(100% - 2em);
}

.btn-backhand:hover, .btn-primary:hover{
  border: solid 1px #16a083;  
  color: #16a083;
  transition: background 0.3s ease-in-out;
}

.flex-line{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content{  
  background-color: #F7F7FA;
  display: flex;
  flex-wrap: wrap;  
  min-height: 88vh;
}

.perfil{
  width: 300px;
  justify-content: flex-start;
  padding-top: 100px;
}

.dashboard{
  padding: 30px;
  width: calc(100vw - 320px);
}

.imgUser{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.badge{
  width: auto;
  min-width: 20px;
  height: 20px;
  background-color: rgb(165, 35, 35);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.badge:empty{
  display: none;
}

.min{
  max-width: 10px;
  padding: 0 5px;
}

.h2-title {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: #666;
}

#footer h2 {
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem;
  font-weight: 500;
  color: #fff;
  background:#90C653;
}

/*  VIEW INLINE  */


  .view-inline{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .view-inline img{
    margin: 10px;
  }

  .view-inline p{
    padding: 10px;
  }

  .view-inline{
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
  }

  .view-inline:hover{
    border-bottom: solid 1px #16a083;
    border-top: solid 1px #16a083;
  }

/* ROUND BUTTON */

.btn-round{
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
}

.btn-round:hover{
  border: solid 2px #16a083;
  color: #16a083;
  background-color: #ffffff;
}

/* TAB SCREEN */

.tab-screen{
  padding: 10px;
}

.tab-screen input, .tab-screen select{
  padding: 5px;
}


/* EDIT BUTTON */

.edtbtn{
  display: flex;
}

.edtbtn input, .edtbtn select{
  width: 80%;
}

.edtbtn button{
  width: 20%;
}


@media (max-width: 769px) {

  .hide{
    display: none !important;
  }

  section{
    width: 100vw;
  }

  fieldset{
    width: 90%;
    align-items: center;
  }

  table{
    max-width: 90vw;
  }

  .panel{
    flex-direction: column-reverse;
  }

  .left-panel{
    width: 100%;
  }

  .right-panel{
    height: auto;
  }

  .dashboard{
    width: 100% !important;
  }
  
  #nome{
    font-size: 1em;
  }

  #placar{
    font-size: 0.8em;
    font-weight: 400;
  }

}