<title>
    Meus Equipamentos
</title>
<template>
    <style>

        .frm-equip{
            display: flex;
            gap: 5px;
            flex-direction: column;
            padding: 10px;
        }

        .frm-equip > *{
            width: 100%;
        }

        textarea{
            width: 100%;
            margin: auto;
            padding: 5px;
            resize: none;
        }

        .inline{
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }

        .inline label{
            width: auto;
        }

        .inline input{
            width: 50px;
            border: 0 0 1px 0;
        }

        fieldset{
            width: 97% !important;
            min-height: 100px;
        }

        #btnManut{
            top: 410px;
            right: 20px;
        }

        .manut{
            display: none;
        }

    </style>

    <div class="frm-equip">

        <label for="cmbEquip">Equipamento</label>
        <select id="cmbEquip">
            <option value="RAQUETE" selected>Raquete</option>
            <option value="BOLAS">Bolas</option>
            <option value="TENIS">Tênis</option>
            <option value="OUTROS">Outros</option>
        </select>
    
        <label for="edtMarca">Marca</label>
        <input type="text" id="edtMarca" maxlength="15">

        <label for="edtAqui">Aquisição</label>
        <input type="date" id="edtAqui">

        <label for="edtObs">Observação</label>
        <textarea id="edtObs" cols="30" rows="5" maxlength="255"></textarea>

        <fieldset class="manut">
            <legend>Manutenção</legend>
            <div id="btnManut" class="btn-icon"><span class="mdi mdi-plus-circle-outline"></span></div>
            <table id="tblManut"></table>
        </fieldset>

        <div class="inline">
            <button id="btnAddEquip" class="btn btn-primary">Salvar</button>
            <button id="btnDelEquip" class="btn btn-primary">Deletar</button>
        </div>

    </div>




</template>
<script>

    mainData.addEquip.func.fillManut = ()=>{
        const params = new Object;
            params.id = mainData.addEquip.data.id

        const myPromisse = queryDB(params,34);
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            if(json.length>0){
                const tbl = document.querySelector('#tblManut')
                tbl.head('Data,Serviço,Obs')            
                for(let i=0; i<json.length; i++){
                    tbl.plot(json[i],'data,servico,obs','dat,Upp,cut20')
                }
            }
        })                
    }

    const data = mainData.addEquip.data

    if(mainData.addEquip.data.id=='DEFAULT'){
        document.querySelector('#edtAqui').value = today.getFormatDate()
        document.querySelector('.manut').style.display = 'none'
    }else{
        mainData.addEquip.func.fillManut()
        document.querySelector('#cmbEquip').value = data.descricao
        document.querySelector('#edtMarca').value = data.marca
        document.querySelector('#edtAqui').value = data.aquisicao
        document.querySelector('#edtObs').value = data.obs
        document.querySelector('.manut').style.display = 'block'
    }

    document.querySelector('#btnManut').addEventListener('click',()=>{
        mainData.addEquip.data.id_equip = mainData.addEquip.data.id
        mainData.addEquip.data.id_manut = 'DEFAULT'
        openHTML('manutEquip.html','modal',mainData.addEquip.data,500)
    })

    document.querySelector('#btnAddEquip').addEventListener('click',()=>{

        const params = new Object;
            params.id = mainData.addEquip.data.id
            params.id_owner = mainData.addEquip.data.id_owner
            params.descricao = document.querySelector('#cmbEquip').value.trim()
            params.marca = document.querySelector('#edtMarca').value.trim()
            params.aquisicao = document.querySelector('#edtAqui').value
            params.obs = document.querySelector('#edtObs').value.trim()

        const myPromisse = queryDB(params,32);
        myPromisse.then(()=>{
            mainData.viewUser.func.fillEquip()
            closeModal('')
        })        
    })

    document.querySelector('#tblManut').addEventListener('click',(e)=>{        
        const data = e.target.parentNode.data
        data.id_manut = data.id    
        
        openHTML('manutEquip.html','modal',data,500)
    })

    document.querySelector('#btnDelEquip').addEventListener('click',()=>{
        if(confirm('Deletar este equipamento?')){
            const params = new Object;
                params.id = mainData.addEquip.data.id
            const myPromisse = queryDB(params,36);
            myPromisse.then(()=>{
                mainData.viewUser.func.fillEquip()
                closeModal('')
            })        
        }
    })


</script>