<title>
    Resultado do Jogo
</title>
<template>
    <style>
        .cards{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .cards p{
            text-indent: 0;
            text-align: center;
        }

        .convite, .retira{
            display: flex;
        }

        input{
            padding: 5px;
        }

        .game-score{
            margin: 10px;
            border: solid 1px;
            border-radius: 10px;
            min-height: 100px;
        }

        #tblScore td, #tblScore th{
            width: 33.3%;
        }


    </style>


    <div class="edge cards confirm">
        <label for="edt-data">Data</label>
        <input type="date" id="edt-data">

        <label for="edt-hora">Hora</label>
        <input type="time" id="edt-hora">

        <div style="display: flex; justify-content: center; align-items: center;">
            <p>Resultado</p>
            <div id="btnAddSet" class="btn-icon" style="right: 150px;"><span class="mdi mdi-plus-circle-outline"></span></div>
        </div>

        <div class="game-score">
            <table id="tblScore"></table>
        </div>
        <button id="btnSaveScore" class="btn btn-primary">SALVAR</button>
    </div>

   

</template>
<script>

    const data = mainData.addResultTorn.data
    const now = new Date
    mainData.addResultTorn.data.tbl = document.querySelector('#tblScore')


    document.querySelector('#edt-data').value = now.getFormatDate()
    document.querySelector('#edt-hora').value = now.getFullTime()

    console.log(data)
    
    document.querySelector('.title-addResultTorn').innerHTML = `JOGO ${data.id_jogo.padStart(2,0)} / ${nomeEtapa(mainData.viewTorn.data.torneio.playOff,data.grupo).padStart(2,0)}`
    document.querySelector('#tblScore').innerHTML = `<tr><th>${data.P1_nome}</th><th>vs</th><th>${data.P2_nome}</th></tr>` 

    try{
        set_A = data.P1_SET.split(',')
        set_B = data.P2_SET.split(',')

        for(let i=0; i<set_A.length; i++){
            const tr =  document.createElement('tr')
            tr.innerHTML = `<td>${set_A[i]}</td><td>x</td><td>${set_B[i]}</td>`
            mainData.addResultTorn.data.tbl.appendChild(tr)
        }
    }catch{
//        
    }

    document.querySelector('#tblScore').addEventListener('click',(e)=>{
        const tr = e.target.parentNode
        tr.rowIndex>0 ? tr.parentNode.removeChild(tr) :0
    })


    document.querySelector('#btnAddSet').addEventListener('click',()=>{
        openHTML('addTornScore.html','modal',data,500)
    })

    document.querySelector('#btnSaveScore').addEventListener('click',()=>{
        const sets = document.querySelector('#tblScore').rows
        const placar = {p1:0,p2:0}
        if(sets.length >1){
            let outSets = ''
            for(let i=1; i<sets.length; i++){
                const score_01 = Number(sets[i].cells[0].innerHTML)
                const score_02 = Number(sets[i].cells[2].innerHTML)
                outSets += i>1 ? ',' : ''
                outSets += `(${i},${data.id_torn},${data.id_jogo},${score_01},${score_02})`
                placar.p1 += score_01>score_02 ? 1:0
                placar.p2 += score_01<score_02 ? 1:0
            }
            const params = new Object;
                params.hash = localStorage.getItem('hash')
                params.id_torn = data.id_torn
                params.id_jogo = data.id_jogo
                params.values = outSets

            const myPromisse = queryDB(params,46);
            myPromisse.then((resolve)=>{
                console.log(resolve)
            })
            
        }

        const params = new Object;
            params.hash = localStorage.getItem('hash')
            params.id_torn = data.id_torn
            params.id_jogo = data.id_jogo
            params.p1_score = placar.p1
            params.p2_score = placar.p2
            params.data = document.querySelector('#edt-data').value+' '+document.querySelector('#edt-hora').value+':00'

        const myPromisse = queryDB(params,47);
        myPromisse.then((resolve)=>{
            console.log(resolve)
            mainData.viewTorn.func.fillJogos()
            closeModal(0)
        })

    })

</script>    