<title>
    Set
</title>
<template>
    <style>

        textarea{
            width: 90%;
            margin: auto;
        }

        .inline{
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }

        .inline label{
            width: auto;
        }

        .inline input{
            width: 50px;
            border: 0 0 1px 0;
        }

    </style>
    
    <div class="inline">
        <label for="edtP1">Time A</label>
        <input type="text" id="edtP1" inputmode="decimal" onkeyup="valInt(this)">
        <label>VS</label>
        <input type="text" id="edtP2" inputmode="decimal" onkeyup="valInt(this)">
        <label for="edtP2">Time B</label>
    </div>
 
    <div class="inline">
        <textarea id="edtAboutSet" cols="30" rows="10" placeholder="Sobre o set..." maxlength="255"></textarea>
    </div>

    <div class="inline">
        <button id="btnAddSet" class="btn btn-primary">Add Set</button>
        <button id="btnDelSet" class="btn btn-primary">Delete</button>
    </div>


</template>
<script>

    const data = mainData.addSets.data
    const edit = Object.keys(data).length > 0

    if(edit){
        document.querySelector('#edtP1').value = data.sets.p1
        document.querySelector('#edtP2').value = data.sets.p2
        document.querySelector('#edtAboutSet').value = data.sets.obs
        document.querySelector('#btnAddSet').innerHTML = 'Save' 
        document.querySelector('#btnDelSet').style.display = 'block'
    }else{
        document.querySelector('#btnDelSet').style.display = 'none'
    }

    document.querySelector('#btnAddSet').addEventListener('click',()=>{
        const set = new Object
            set.p1 = parseInt(document.querySelector('#edtP1').value)
            set.p2 = parseInt(document.querySelector('#edtP2').value)
            set.obs = document.querySelector('#edtAboutSet').value
            set.id = edit ? mainData.newActivity.data.sets[mainData.addSets.data.sets.index].id : 0
        edit ? mainData.newActivity.data.sets[mainData.addSets.data.sets.index] = set : mainData.newActivity.data.sets.push(set)
        mainData.newActivity.func.fillSets()
        closeModal('')
    })

    document.querySelector('#btnDelSet').addEventListener('click',()=>{

        const params = new Object;
            params.id = data.sets.index
            params.id_atividade = mainData.newActivity.data.id

        const myPromisse = queryDB(params,17);
        myPromisse.then(()=>{

            mainData.newActivity.data.sets.splice(data.sets.index,1)
            mainData.newActivity.func.fillSets()
            closeModal('')
        })
        

    })


</script>