<title>
    Set Score
</title>
<template>
    <style>

        textarea{
            width: 90%;
            margin: auto;
        }

        .inline{
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }

        .inline label{
            width: auto;
        }

        .inline input{
            width: 50px;
            border: 0 0 1px 0;
        }

    </style>

    <div class="inline">
        <label for="edtP1">Me</label>
        <input type="text" id="edtP1">
        <label>VS</label>
        <input type="text" id="edtP2">
        <label for="edtP2">My Partner</label>
    </div>
 
    <div class="inline">
        <textarea id="edtAboutSet" cols="30" rows="10" placeholder="Type About Set"></textarea>
    </div>

    <div class="inline">
        <button class="btn btn-primary">Add Set</button>
    </div>


</template>
<script>

</script>