<title></title>
<template>
    <style>

    </style>

    <div class="view-activity">

        teste
        <h2>olá mundo</h2>

    </div>


</template>
<script>

    const maps = []

    loadActivity(10)

    function loadActivity(N){

        const screen = document.querySelector('#dashboard')
        screen.innerHTML = ''
        const params = new Object;
            params.limit = N

        const myPromisse = queryDB(params,9);
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)  
//            console.log(json)      
            for(let i=0; i<json.length; i++){
                
                const div = document.createElement('div')
                div.className = 'post-activity'

                div.innerHTML = `<p>${json[i].ATLETA}</p>
                <h2>${json[i].nome}</h2>
                <h4>${json[i].dia.showDate()} - ${json[i].dia.showTime()}</h4>
                <div style="display:flex; gap:20px;">
                    <div id="map-${i}" class="map-activity"></div>
                    <div>
                        <p>Partner - ${json[i].parceiro}</p>
                        <p>Sport   - ${json[i].SPORT}</p>
                        <p>Event   - ${json[i].EVENTO}</p>
                        <p>Kudos <i class="fas fa-thumbs-up"></i></p>
                        <a id="btnViewMore-${i}">view more...</a>
                        <br>
                        <!-- facebook -->
                        <a class="facebook" target="blank"><i class="fab fa-facebook"></i></a>
                        
                        <!-- twitter -->
                        <a class="twitter" target="blank"><i class="fab fa-twitter"></i></a>
                        
                        <!-- linkedin -->
                        <a class="linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
                        
                        <!-- reddit -->
                        <a class="reddit" target="blank"><i class="fab fa-reddit"></i></a>

                        <!-- whatsapp-->
                        <a class="whatsapp" target="blank"><i class="fab fa-whatsapp"></i></a>

                        <!-- telegram-->
                        <a class="telegram" target="blank"><i class="fab fa-telegram"></i></a>                        
                    </div>
                </div>`

                div.database = json[i]
                screen.appendChild(div)
                maps.push(createMap('map-'+i,[json[i].lat, json[i].lng],30))
                var marker = new L.Marker([json[i].lat, json[i].lng]);
                marker.addTo(maps[maps.length-1])
                maps[maps.length-1].locate({setView: false, maxZoom: 30})
                maps[maps.length-1].zoomControl = false
                maps[maps.length-1].on('move',()=>{
                    maps[maps.length-1].locate({setView: false, maxZoom: 30})
                })

                document.querySelector('#btnViewMore-'+i).addEventListener('click',()=>{
                    openHTML('viewTrainning.html','modal',json[i])
                })

//                console.log(maps[maps.length-1].zoomControl)
            }


    })



    }


</script>