<title>Sobre o backhand.com.br</title>
<template>
    <style>
        .bloco-texto{
            padding: 10px;
        }

    </style>

    <div class="bloco-texto">
        <h3>Bem vindo</h3>
        Bem vindo ao backhand.com.br, esta é uma plataforma desenvolvida para tenistas, amadores e profissionais acompanharem seus treinos, registrando cada evento, seja ele um jogo, ou uma simples aula, organizando de modo simples e montando seu perfil 
    </div>

    <div class="bloco-texto">
        <h3>Como funciona</h3>
        Cada atividade registrada vai para o seu perfil, organizadas por data, um calendário acima mostra sua frequência de treinos. Acompanhe seus amigos, comente em suas atividades

    </div>

    <div class="bloco-texto">
        <h3>O Ranking</h3>
        Nosso ranking é mensurado de acordo com a nota de nível de cada atleta, cada jogo oficial que você fizer irá contar pontos, podendo aumentar ou diminuir sua nota dependendo do seu desempenho.
        Para um jogo ser considerado oficial ele deve ter 2 ou 4 participantes, ter no mínimo 2 sets com um lado vencedor, um dos jogadores irá lançar este jogo no backhand.com.br e marcar os demais jogadores, que devem confirmar o seu resultado, uma vez confirmado o resultado por todos os participantes, tira-se uma média dos pontos atuais de todos os jogadores e atribui-se 5% deste valor as notas dos vencedores, os perdedores terão um decréssimo de 2%.
        Existe a opção de marcar um jogador não usuário, este será marcado com um # em frente seu nome e este jogo não terá valor para contagem de pontos do ranking.

    </div>



</template>
<script>

</script>