<title>
    Gerar Jogos
</title>
<template>
    <style>
        .cards{
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
        }

        .cards p{
            text-indent: 0;
            padding: 10 0;
            text-align: center;
        }

        .rdo-item{
            display: flex;
            gap: 5px;
            justify-content: center;
        }
        
        .rdo-item label{
            cursor: pointer;
            width: 100px;
        }

    </style>

    <div class="edge cards">
        <legend>Atletas</legend>
        <div id="divAtleta"></div>
    </div>


    <div class="edge cards">
        <legend>Sorteio</legend>
        <p>Grupos/Playoff</p>
        <div class="rdo-item">
            <input type="radio" id="rdo-sorteio-1" name="rdo-sorteio" value="1" checked>
            <label for="rdo-sorteio-1">Aleatório</label><br>    
        </div>
        <div class="rdo-item">
            <input type="radio" id="rdo-sorteio-2" name="rdo-sorteio" value="2">
            <label for="rdo-sorteio-2">Balanceado</label><br>    
        </div>
    </div>


    <div class="line">
        <button id="btnSort" class="btn btn-primary">Sortear</button>
    </div>


</template>
<script>
    const torn = mainData.viewTorn.data.torneio
console.log(torn)
    mainData.geraJogos.func.fillAtleta = ()=>{

        const main = document.querySelector('#divAtleta')
            main.innerHTML = ''

        for(let i=0; i<torn.num_players; i++){
                    
            const div = document.createElement('div')
            div.className = 'view-inline'

            const leftdiv = document.createElement('div')
            leftdiv.style.display = 'flex'
            
            const h = document.createElement('h4')
            h.style = 'align-self: center;padding-left: 5px;max-width:20px;';
            h.innerText = (i+1).toString().padStart(2,0)
            leftdiv.appendChild(h)

            const img = document.createElement('img')
            img.src =  i<torn.ID_ATLETA.length ?`assets/users/${torn.ID_ATLETA[i]}.jpg` : ''
            img.className = 'imgUser'
            breakImg(img)

            img.addEventListener('click',()=>{
                window.location.hash = 'P'+atletas[i].id_atleta.padStart(10,0)
                loadHash()
            })
            leftdiv.appendChild(img)

            if(i<torn.ID_ATLETA.length){

                const p = document.createElement('p')
                p.innerHTML = torn.NOME_ATLETA[i]
                leftdiv.appendChild(p)
                div.appendChild(leftdiv)

                const rate = document.createElement('div')
                rate.className = 'rating-line'
                rate.style = 'display: flex; gap:15px; align-items: center; width:auto;'            
                rate.innerHTML =`          
                        <div class="rating">                        
                            <progress id="rating-nivel-${torn.ID_ATLETA[i]}" class="rating-bg" value="${torn.ID_ATLETA[i]}" max="5"></progress>
                            <svg><use xlink:href="#fivestars"/></svg>
                        </div>
                        <h4 style="width:30px;">${Number(torn.NIVEL_ATLETA[i]).toFixed(2)}</h4>
                        `
                div.appendChild(rate)
            }else{
                const inp = document.createElement('input')
                inp.type = 'text'
                inp.maxLength = 30
                inp.style = 'height: 30px;align-self: center;'
                inp.id = `plr-${i}`
                leftdiv.appendChild(inp)
                div.appendChild(leftdiv)                
            }
            main.appendChild(div)                    
        }
    }

    mainData.geraJogos.func.fillAtleta()

    function geraParams(game,id_1,id_2,nome_1,nome_2,grupo=1){
        const params = new Object
            params.id = game
            params.id_torn = torn.id
            params.id_P1 = id_1
            params.id_P2 = id_2
            params.P1_nome = nome_1
            params.P2_nome = nome_2
            params.grupo=grupo
        return params
    }

    function grupos(atl){
        const sort = document.querySelector('input[name="rdo-sorteio"]:checked').value
        let game = 1
        let num_gp = 0
        const grupo = []
        let values = []

        while(atl.length>0){
            const i = sort=='1' ? Math.floor(Math.random()*atl.length) : 0
            grupo.length<=num_gp ? grupo.push([]) : 0
            grupo[num_gp].push(atl[i])

            atl.splice(i,1)
            num_gp++
            num_gp = num_gp>=Number(torn.num_grupos) ? 0 : num_gp
        }

        for(let i=0; i<grupo.length; i++){
            values = values.length==0 ? gamesPC(grupo[i],i+1) : values.concat(gamesPC(grupo[i],i+1,values.length)) 
        }

        return values
    }

    function gamesPlayoff(atl){
        const sort = document.querySelector('input[name="rdo-sorteio"]:checked').value
        let game = 1
        let values = []
        if(sort=='1'){
            while(atl.length>1){
                let i = Math.floor(Math.random()*atl.length)
                const atl1 = atl[i]
                atl.splice(i,1)

                i = Math.floor(Math.random()*atl.length)
                const atl2 = atl[i]
                atl.splice(i,1)
                values.push(geraParams(game,atl1.id,atl2.id,atl1.nome,atl2.nome))
                game++
            }
        }else{
            while(atl.length>1){
                let i = atl.length-1
                values.push(geraParams(game,atl[0].id,atl[i].id,atl[0].nome,atl[i].nome))
                atl.splice(i,1)
                atl.splice(0,1)
                game++
            }
        }
        console.log(values)
        return values
    }

    function gamesPC(atl,grupo='1',game=0){
        game += 1
        let values = []
        for(let i=0; i<atl.length; i++){
            for(let j=i+1; j<atl.length; j++){
                values.push(geraParams(game,atl[i].id,atl[j].id,atl[i].nome,atl[j].nome,grupo))
                game++
            }
        }
        return values
    }

    function checkAllNames(){
        const atl = document.querySelector('#divAtleta').querySelectorAll('input')        
        const out = new Object
            out.atleta = []
            out.status = true
            out.convidados = ''

        for(let i=0; i<torn.NOME_ATLETA.length; i++){
            out.atleta.push({nome:torn.NOME_ATLETA[i],id:torn.ID_ATLETA[i]})
            out.cut = i
        }

        for(let i=0; i<atl.length; i++){
            if(atl[i].value.trim()==''){
                alert('Favor preencher todos os nomes dos atletas avulsos.')
                atl[i].focus()
                out.status=false
                return out
            }else{
                out.atleta.push({nome:atl[i].value.trim().toUpperCase(),id:0})
                out.convidado += ','+atl[i].value.trim().toUpperCase()
            }
        }
        out.convidado = out.convidado.substring(1,out.convidado.length)
        return out
    }



    document.querySelector('#btnSort').addEventListener('click',()=>{
        
        const mode = Number(torn.num_grupos)>=(Number(torn.playOff)/2) ? 1 : Number(torn.modelo)
        const atl = checkAllNames()
        let values = []

        if(atl.status){
            switch(mode){
                case 1:
                    values = gamesPlayoff(atl.atleta)
                break
                case 2:
                    values = grupos(atl.atleta)
                break
                case 3:
                    values = gamesPC(atl.atleta)
            } 
        }
        console.log(values)

        if(values.length>0){

            const params = new Object;
                params.hash =  localStorage.getItem('hash')
                params.id_torn = torn.id
                params.values = atl.convidado

            const myPromisse = queryDB(params,44)
            myPromisse.then((resolve)=>{
                queryJson(values,3,torn.id).then((txt)=>{
                    console.log(txt)
                    mainData.viewTorn.func.getTorn()
                    closeModal(0)
                })
            })
        }  
    })  


</script>

