<title>My Courts</title>
<template>
    <style>
        #map { 
            width: 100%;
            height: 30vh;
        }
        
        .courtForm > *, .courtForm > * > *{
            width: 100%;
        }

        #cmbViewMyCourts{
            height: auto;
        }

    </style>

    <div class="form courtForm">


        <select id="cmbViewMyCourts" size="5"></select>

        <fieldset>
            <legend>Near You</legend>
            <select id="cmbViewCourts"></select>
    
            <div id="map"></div>
            <select id="mapSource">
                <option value="satlayer">Satellite</option>
                <option value="maplayer">Maps</option>
            </select>
            <button id="btnAddCourt" class="btn btn-primary">Add</button>
        </fieldset>

        <button id="btnNewCourt" class="btn btn-primary" >Create New Court</button>
    </div>


</template>
<script>

    mainData.myCourts.courtParams = new Object;
    mainData.myCourts.courtParams.idUser = localStorage.getItem('idUser')

    fillCombo('cmbViewMyCourts',mainData.myCourts.courtParams,6,['id','nome'])
    var marker = new L.Marker([0, 0]);

    map = createMap('map')

    document.querySelector('#mapSource').addEventListener('change',()=>{
        map.removeLayer(satlayer);
        map.removeLayer(maplayer);
        map.addLayer(window[document.querySelector('#mapSource').value]);
    })

    const courtParams = new Object;
    courtParams.true = true
    courtParams.false = false

    fillCombo('cmbViewCourts',courtParams,3,['id','nome'])

    marker.addTo(map)

    document.querySelector('#cmbViewCourts').addEventListener('change',()=>{

        const e = document.getElementById("cmbViewCourts");
        const data = e.options[e.selectedIndex].database;
        
        var newLatLng = new L.LatLng(data.lat, data.lng)
        marker.setLatLng(newLatLng)
        map.setView(new L.LatLng(data.lat, data.lng), 30)
        map.locate({setView: false, maxZoom: 30})
    })
    

    document.querySelector('#cmbViewMyCourts').addEventListener('dblclick',()=>{
        if(confirm('Do you like remove this court?')){
            const params = new Object;
                params.id_usuario = localStorage.getItem('idUser')
                params.id_quadra = document.getElementById("cmbViewMyCourts").value                
            const myPromisse = queryDB(params,8);
            myPromisse.then((resolve)=>{
                fillCombo('cmbViewMyCourts',mainData.social.courtParams,6,['id','nome'])
                fillCombo('cmbCourts',mainData.social.courtParams,6,['id','nome'])    
            })
        }
    })


    document.querySelector('#btnNewCourt').addEventListener('click',()=>{
        openHTML('newCourt.html','modal',null,500)
    })


    document.querySelector('#btnAddCourt').addEventListener('click',()=>{
        if(goon('cmbViewCourts')){

            const params = new Object;
                params.id_usuario = localStorage.getItem('idUser')
                params.id_quadra = document.getElementById("cmbViewCourts").value

            const myPromisse = queryDB(params,7);
            myPromisse.then((resolve)=>{
                fillCombo('cmbViewMyCourts',mainData.social.courtParams,6,['id','nome'])
                fillCombo('cmbCourts',mainData.social.courtParams,6,['id','nome'])
            })

        }
    })

</script>