<title>
    Nova Atividade
</title>
<template>
    <style>

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0px;
            padding: 10px;
        }

        #btnLogin, input, select, label, .edtbtn{
            width: 250px;
            height: 30px;
        }

        input[type="date"], input[type="time"]{
            text-align: center;
        }

        .edtbtn{
            display: flex;
        }

        .edtbtn input, .edtbtn select{
            width: 80%;
        }

        .edtbtn button{
            width: 20%;
        }

    </style>

    <div class="form">

        <label for="edtDesc">Descrição</label>
        <input type="text" id="edtDesc">

        <label for="cmbSport">Esporte</label>
        <select id="cmbSport"></select>

        <label for="cmbTipo">Tipo</label>
        <select id="cmbTipo"></select>

        <label for="edtParceiro">Perceiro</label>
        <div class="edtbtn">
            <input type="text" id="edtParceiro">
            <button id="btnBuscaAmigo"><i class="fas fa-search"></i></button>
        </div>

        <label for="edtData">Data</label>
        <input type="date" id="edtData">

        <label for="edtHora">Hora</label>
        <input type="time" id="edtHora">

        <label for="edtTempo">Duração</label>
        <input type="time" id="edtTempo" value="01:00">

        <label for="cmbQuadra">Quadra</label>
        <div class="edtbtn">
            <select id="cmbQuadra"></select>
            <button id="btnAddCourt"><i class="fas fa-plus-circle"></i></button>
        </div>

        <div class="sets">
            <label for="cmbSets">Sets</label>
            <div class="edtbtn">
                <select id="cmbSets"></select>
                <button id="btnEdtSet"><i class="fas fa-edit"></i></button>
                <button id="btnSetScore"><i class="fas fa-plus-circle"></i></button>
            </div>
            

        </div>



        <button id="btnAdd" class="btn btn-primary">Add Activity</button>




    </div>

</template>
<script>

    mainData.newActivity.data.sets = []
    const data = mainData.newActivity.data
    const today =  new Date
    const edit = Object.keys(data).length > 1
    let id = 'DEFAULT'

    if(edit){
        const dur = Math.floor(parseFloat(data.duracao)/60).toString().padStart(2,'0') +':'+(parseFloat(data.duracao)%60).toString().padStart(2,'0')
        id = data.id
        document.querySelector('#edtDesc').value = data.nome
        document.querySelector('#edtParceiro').value = data.parceiro
        document.querySelector('#edtData').value = data.dia.substr(0,10)
        document.querySelector('#edtHora').value = data.dia.showTime()
        document.querySelector('#edtTempo').value = dur
        document.querySelector('.title-newActivity').innerHTML = 'Edit Activity'
        document.querySelector('#btnAdd').innerHTML = "SAVE"
        querySets()

    }else{
        document.querySelector('#edtData').value = today.getFormatDate()
        document.querySelector('#edtHora').value = today.getFullTime()
    }

    const courtParams = new Object;
    courtParams.idUser = localStorage.getItem('idUser')

    fillCombo('cmbQuadra',courtParams,6,['id','nome'], data != undefined ? data.id_quadra : '')
    fillCombo('cmbSport',courtParams,12,['id','nome'], data != undefined ? data.id_sport : '')
    fillCombo('cmbTipo',courtParams,13,['id','nome'], data != undefined ? data.id_evento : '')

    document.querySelector('#btnBuscaAmigo').addEventListener('click',()=>{
        openHTML('newFriend.html','modal',null)
    })

    document.querySelector('#btnAddCourt').addEventListener('click',()=>{
        openHTML('myCourts.html','modal',null,500)
    })


    document.querySelector('#btnSetScore').addEventListener('click',()=>{
        openHTML('addSets.html','modal',null,500)
    })

    document.querySelector('#btnEdtSet').addEventListener('click',()=>{

        const opt = document.querySelector('#cmbSets').querySelectorAll('option').length
 
        if(opt > 0){
            const index = document.querySelector('#cmbSets').value
            const set = mainData.newActivity.data.sets[index]
            set.index = index
            openHTML('addSets.html','modal',{sets : set},500)
        }
            
    })
    
    function refreshData(){
        data.nome = document.querySelector('#edtDesc').value.toUpperCase().trim()
        data.SPORT = document.querySelector('#cmbSport').options[document.querySelector('#cmbSport').selectedIndex].text
        data.EVENTO = document.querySelector('#cmbTipo').options[document.querySelector('#cmbTipo').selectedIndex].text
        data.parceiro = document.querySelector('#edtParceiro').value.toUpperCase().trim()
        data.dia = document.querySelector('#edtData').value+' '+document.querySelector('#edtHora').value+':00'
        data.duracao = parseInt(document.querySelector('#edtTempo').value.split(':')[0])*60 + parseInt(document.querySelector('#edtTempo').value.split(':')[1])
        data.QUADRA = document.querySelector('#cmbQuadra').options[document.querySelector('#cmbQuadra').selectedIndex].text
    }

    function updateData(data){
//        console.log(data)  
        const form = document.getElementById(data.form)

        form.querySelector('#atleta').innerHTML = data.ATLETA
        form.querySelector('#nome').innerHTML = data.nome
        form.querySelector('#placar').innerHTML = `${data.nick} ${data.SETS_P1} vs ${data.SETS_P2} ${data.parceiro.split(' ')[0]}`
//        form.querySelector('#map-label').innerHTML = data.QUADRA
        form.querySelector('#sport').innerHTML = data.SPORT
        form.querySelector('#evento').innerHTML = data.EVENTO
        form.querySelector('#data').innerHTML = data.dia.showDate()
        form.querySelector('#hora').innerHTML = data.dia.showTime()
        form.querySelector('#tempo').innerHTML = Math.floor(data.duracao/60).toString().padStart(2,'0')+":"+ (data.duracao%60).toString().padStart(2,'0')
    }

    document.querySelector('#btnAdd').addEventListener('click',()=>{
        refreshData()
   
        if(goon('edtDesc,edtParceiro,edtData,edtHora,edtTempo')){
            const nome = document.querySelector('#edtDesc').value.trim().toUpperCase()
            const parc = document.querySelector('#edtParceiro').value.trim().toUpperCase()
            const dt = document.querySelector('#edtData').value.trim()+" "+document.querySelector('#edtHora').value.trim()+':00'            
            const temp = parseInt(document.querySelector('#edtTempo').value.split(':')[0])*60 + parseInt(document.querySelector('#edtTempo').value.split(':')[1])
            const sport = document.querySelector('#cmbSport').value.trim()
            const tipo = document.querySelector('#cmbTipo').value.trim()
            const quad = document.querySelector('#cmbQuadra').value.trim()

            const params = new Object;
                params.id = id
                params.id_usuario = localStorage.getItem('idUser')
                params.nome = nome
                params.id_sport = sport
                params.id_evento = tipo
                params.data = dt
                params.duracao = temp
                params.id_quadra = quad
           
            const myPromisse = queryDB(params,10);
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)  
console.log(json)                
                edit ?  updateData(data) : 0
                addSets(json[0].id)
                closeModal()       
            })
        }
    })

    mainData.newActivity.func.fillSets = ()=>{
        const sets = mainData.newActivity.data.sets
        const cmb = document.querySelector('#cmbSets')
        cmb.innerHTML = ''
        for(let i=0; i< sets.length; i++){
            const opt = document.createElement('option')
            opt.value = i
            sets[i].index = i
            opt.innerHTML = `SET ${i+1}`
            cmb.appendChild(opt)
        }

    }

    function addSets(idAtv){

        const sets = mainData.newActivity.data.sets
//        console.log(sets)
        for(let i=0; i<sets.length; i++){
            const params = new Object;
                params.id = i
                params.id_atividade = idAtv
                params.p1 = sets[i].p1
                params.p2 = sets[i].p2
                params.obs = sets[i].obs
//console.log(params)
            queryDB(params,14)
        }
    }

    function querySets(){
        const params = new Object;
                params.id_atividade = mainData.newActivity.data.id
                
            const myPromisse = queryDB(params,15);
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)  
//                console.log(json)
                mainData.newActivity.data.sets = []
                for(let i=0; i<json.length; i++){
                    const set = new Object
                        set.p1 = parseInt(json[i].p1_score)
                        set.p2 = parseInt(json[i].p2_score)
                        set.obs = json[i].obs
                        set.id = json[i].id
                    mainData.newActivity.data.sets.push(set)
                }
                mainData.newActivity.func.fillSets()
             
            })
    }



</script>