<title>
    New Activity
</title>
<template>
    <style>

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0px;
            padding: 10px;
        }

        #btnLogin, input, select, label, .edtbtn{
            width: 250px;
            height: 30px;
        }

        input[type="date"], input[type="time"]{
            text-align: center;
        }

        .edtbtn{
            display: flex;
        }

        .edtbtn input, .edtbtn select{
            width: 80%;
        }

        .edtbtn button{
            width: 20%;
        }

    </style>

    <div class="form">

        <label for="edtDesc">Description</label>
        <input type="text" id="edtDesc">

        <label for="cmbSport">Sport</label>
        <select id="cmbSport"></select>

        <label for="cmbTipo">Type</label>
        <select id="cmbTipo"></select>

        <label for="edtParceiro">Partner</label>
        <div class="edtbtn">
            <input type="text" id="edtParceiro">
            <button>+</button>
        </div>

        <label for="edtData">Date</label>
        <input type="date" id="edtData">

        <label for="edtHora">Time</label>
        <input type="time" id="edtHora">

        <label for="edtTempo">Duration</label>
        <input type="time" id="edtTempo" value="01:00">

        <label for="cmbQuadra">Court</label>
        <div class="edtbtn">
            <select id="cmbQuadra"></select>
            <button id="btnAddCourt">+</button>
        </div>

        <div class="sets">
            <label for="cmbSets">Sets</label>
            <div class="edtbtn">
                <select id="cmbSets"></select>
                <button id="btnEdtSet">EDT</button>
                <button id="btnSetScore">+</button>
            </div>
            

        </div>



        <button id="btnAdd" class="btn btn-primary">Add Activity</button>




    </div>

</template>
<script>

    mainData.newActivity.data.sets = []
    const data = mainData.newActivity.data
    const today =  new Date
    const edit = Object.keys(data).length > 1
    let id = 'DEFAULT'

    if(edit){
        const dur = Math.floor(parseFloat(data.duracao)/60).toString().padStart(2,'0') +':'+(parseFloat(data.duracao)%60).toString().padStart(2,'0')
        id = data.id
        document.querySelector('#edtDesc').value = data.nome
        document.querySelector('#edtParceiro').value = data.parceiro
        document.querySelector('#edtData').value = data.dia.substr(0,10)
        document.querySelector('#edtHora').value = data.dia.showTime()
        document.querySelector('#edtTempo').value = dur
        document.querySelector('.title-newActivity').innerHTML = 'Edit Activity'
        document.querySelector('#btnAdd').innerHTML = "SAVE"

    }else{
        document.querySelector('#edtData').value = today.getFormatDate()
        document.querySelector('#edtHora').value = today.getFullTime()
    }

    const courtParams = new Object;
    courtParams.idUser = localStorage.getItem('idUser')

    fillCombo('cmbQuadra',courtParams,6,['id','nome'], data != undefined ? data.id_quadra : '')
    fillCombo('cmbSport',courtParams,12,['id','nome'], data != undefined ? data.id_sport : '')
    fillCombo('cmbTipo',courtParams,13,['id','nome'], data != undefined ? data.id_evento : '')
    querySets()


    document.querySelector('#btnAddCourt').addEventListener('click',()=>{
        openHTML('myCourts.html','modal',null,500)
    })


    document.querySelector('#btnSetScore').addEventListener('click',()=>{
        openHTML('addSets.html','modal',null,500)
    })

    document.querySelector('#btnEdtSet').addEventListener('click',()=>{

        const opt = document.querySelector('#cmbSets').querySelectorAll('option').length
 
        if(opt > 0){
            const index = document.querySelector('#cmbSets').value
            const set = mainData.newActivity.data.sets[index]
            set.index = index
            openHTML('addSets.html','modal',{sets : set},500)
        }
            
    })
    

    document.querySelector('#btnAdd').addEventListener('click',()=>{

        if(goon('edtDesc,edtParceiro,edtData,edtHora,edtTempo')){
            const nome = document.querySelector('#edtDesc').value.trim().toUpperCase()
            const parc = document.querySelector('#edtParceiro').value.trim().toUpperCase()
            const data = document.querySelector('#edtData').value.trim()+" "+document.querySelector('#edtHora').value.trim()+':00'            
            const temp = parseInt(document.querySelector('#edtTempo').value.split(':')[0])*60 + parseInt(document.querySelector('#edtTempo').value.split(':')[1])
            const sport = document.querySelector('#cmbSport').value.trim()
            const tipo = document.querySelector('#cmbTipo').value.trim()
            const quad = document.querySelector('#cmbQuadra').value.trim()

            const params = new Object;
                params.id = id
                params.id_usuario = localStorage.getItem('idUser')
                params.nome = nome
                params.id_sport = sport
                params.id_evento = tipo
                params.parceiro = parc
                params.data = data
                params.duracao = temp
                params.id_quadra = quad
                
            const myPromisse = queryDB(params,10);
            myPromisse.then((resolve)=>{

                addSets(edit)
                closeModal()       
            })
        }
    })

    mainData.newActivity.func.fillSets = ()=>{
        const sets = mainData.newActivity.data.sets
        const cmb = document.querySelector('#cmbSets')
        cmb.innerHTML = ''
        for(let i=0; i< sets.length; i++){
            const opt = document.createElement('option')
            opt.value = i
            sets[i].index = i
            opt.innerHTML = `SET ${i+1}`
            cmb.appendChild(opt)
        }

    }

    function addSets(edit){

        const sets = mainData.newActivity.data.sets
        console.log(sets)
        for(let i=0; i<sets.length; i++){
            const params = new Object;
                params.id = i
                params.id_atividade = edit ? mainData.newActivity.data.id : '(SELECT MAX(id) FROM tb_atividades)'
                params.p1 = sets[i].p1
                params.p2 = sets[i].p2
                params.obs = sets[i].obs

            queryDB(params,14)
        }
    }

    function querySets(){
        const params = new Object;
                params.id_atividade = mainData.newActivity.data.id
                
            const myPromisse = queryDB(params,15);
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)  
                console.log(json)
                mainData.newActivity.data.sets = []
                for(let i=0; i<json.length; i++){
                    const set = new Object
                        set.p1 = parseInt(json[i].p1_score)
                        set.p2 = parseInt(json[i].p2_score)
                        set.obs = json[i].obs
                        set.id = json[i].id
                    mainData.newActivity.data.sets.push(set)
                }
                mainData.newActivity.func.fillSets()
             
            })
    }



</script>