<title>Nova Quadra</title>
<template>
    <style>
        #map-new-court { 
            width: 100%;
            height: 30vh;
        }
        
        .newcourtForm{
            padding: 10px;
        }

        .newcourtForm > *{
            width: 100%;
        }

    </style>

    <div class="form newcourtForm">

        <label for="edtBusca">Cidade</label>
        <div class="edtbtn" style="width: 100%;padding: 10px;">
            <input type="text" id="edtBusca" placeholder="ex: São José dos Campos-SP,Brazil">
            <button id="btnBusca"><i class="fas fa-search"></i></button>
        </div>


        <label for="map">Marque a localização</label>
        <div id="map-new-court"></div>
        <select id="mapSource_1">
            <option value="maplayer">Mapa</option>
            <option value="satlayer" selected>Satelite</option>
        </select>

        <label for="edtCourtName">Nome da quadra</label>
        <input type="text" id="edtCourtName">

        <label for="cmbSport">Esporte</label>
        <select id="cmbSport">
            <option value="tennis">Tennis</option>
            <option value="beachtennis">Beach Tennis</option>
            <option value="squash">Squash</option>
        </select>


        <button id="btnSaveCourt" class="btn btn-primary">Save</button>
    </div>


</template>
<script>


    var marker = new L.Marker([0, 0]);


    const map_1 = createMap('map-new-court')


    document.querySelector('#mapSource_1').addEventListener('change',()=>{
        map_1.removeLayer(satlayer);
        map_1.removeLayer(maplayer);
        map_1.addLayer(window[document.querySelector('#mapSource_1').value]);
    })

    function onMapClick(e) {
        var newLatLng = new L.LatLng(e.latlng.lat, e.latlng.lng);
        marker.setLatLng(newLatLng);        
    }

    map_1.on('click', onMapClick);
    marker.addTo(map_1)

    document.querySelector('#btnSaveCourt').addEventListener('click',()=>{

        console.log(marker.getLatLng().lat)
        console.log(marker.getLatLng().lng)

        const lat = marker.getLatLng().lat
        const lng = marker.getLatLng().lng

        if(goon('edtCourtName') && lat != 0 && lng != 0){

            const params = new Object;
                params.id = 'DEFAULT'
                params.nome = document.querySelector('#edtCourtName').value.trim().toUpperCase()
                params.lat = lat
                params.lng = lng
                params.tipo = document.querySelector('#cmbSport').value

            const myPromisse = queryDB(params,4);
            myPromisse.then((resolve)=>{
                    alert('Court Saved!')
                    closeModal('')       
            })

        }

    })

    document.querySelector('#btnBusca').addEventListener('click',()=>{
        geocoding(map_1,document.querySelector('#edtBusca').value)
    })



</script>