<title>Pesquisa de Atletas</title>
<template>
    <style>

        .form-viewList{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .form-viewList input, .form-viewList select{
            padding: 5px;
        }

        .form-viewList .edtbtn{
            width: 100%;
        }


    </style>

    <div class="form-viewList">

        <label for="edtNomeAtleta">Name do Atleta</label>
        <div class="edtbtn">
            <input type="text" id="edtNomeAtleta">
            <button id="btnSearchAtleta"><i class="fas fa-search"></i></button>
        </div>
        <div id="searchFriends"></div>

       
    </div>


</template>
<script>
    


    friendsDistance(100)


    function friendsDistance(radius){
        const params = new Object;
            params.hash = localStorage.getItem('hash')
            params.distance = radius

        const myPromisse = queryDB(params,24)

        myPromisse.then((resolve)=>{
            const friends =  JSON.parse(resolve)
            showFriends(friends)                   
        })
    }


    document.querySelector('#btnSearchAtleta').addEventListener('click',()=>{

        const params = new Object;
            params.id = localStorage.getItem('idUser')            
            params.nome = document.querySelector('#edtNomeAtleta').value.trim()            

        const myPromisse = queryDB(params,26)

        myPromisse.then((resolve)=>{
            const friends =  JSON.parse(resolve)
            showFriends(friends)
        })



    })

    function repeatUser(id){

        const A = mainData.newActivity.data.timeA.filter(e => e.userID === id).length
        const B = mainData.newActivity.data.timeB.filter(e => e.userID === id).length
        return  A || B

    }


    function showFriends(friends){
        const newActivity = mainData.newFriend.data.source == 'newActivity'
        const div_search = document.querySelector('#searchFriends') 
        div_search.innerHTML = ''
        for(let i=0; i<friends.length; i++){      

            if(newActivity){
                while(repeatUser(friends[i].userID)){
                    i++
                }
            }

            const div = document.createElement('div')
            div.className = 'view-inline'

            const leftdiv = document.createElement('div')
            leftdiv.style.display = 'flex'

            const img = document.createElement('img')
            img.src = `assets/users/${friends[i].userID}.jpg`
            img.className = 'imgUser'
            img.addEventListener('error',()=>{
                img.src = 'assets/user.jpeg'
            })
            leftdiv.appendChild(img)

            const p = document.createElement('p')
            p.innerHTML = friends[i].nome
            leftdiv.appendChild(p)
            div.appendChild(leftdiv)

            if(newActivity){


                const btn = document.createElement('button')
                btn.innerHTML = 'ADICIONAR'
                btn.className = 'btn btn-primary'
                btn.addEventListener('click',()=>{
                    mainData.newActivity.data[mainData.newFriend.data.time].push(friends[i])
                    mainData.newActivity.func.fillTime(mainData.newFriend.data.time)
                    closeModal(0)
                })

                div.appendChild(btn)
                    

            }else{

                if(friends[i].FOLLOW=="0" && localStorage.getItem('idUser')!= friends[i].userID ){
                const btn = document.createElement('button')
                    btn.innerHTML = 'SEGUIR'
                    btn.className = 'btn btn-primary'

                    btn.addEventListener('click',()=>{
                        const params = new Object;
                            params.hash = localStorage.getItem('hash')
                            params.id_guest = friends[i].userID
                            queryDB(params,23).then((resolve)=>{
                                console.log(resolve)
                            })
                            btn.style.display = 'none'     
                    })

                    div.appendChild(btn)
                }
            }

            div_search.appendChild(div)
        }
    }

</script>