<title>
    Novo Usuário
</title>
<template>
    <style>
        .line{
            display: flex;
            margin: 5px;
        }

        .line label{
            width: 100px;
        }
        
        .form-newUser{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 50px;
        }

        input{
            width: 250px;
            height: 30px;
        }

        #btnAddUser{
            width: 250px;
        }

        .form-newUser{
            background-image: url("assets/background/06.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

    <div class="form-newUser">
        <div class="line">
            <input id="edtName" type="text" maxlength="60" placeholder="* Nome">
        </div>

        <div class="line">
            <input id="edtMail" type="email" maxlength="70" placeholder="* Email" onkeyup="valNoSpace(this)" >
        </div>

        <div class="line">
            <input id="edtPass" type="password" maxlength="12" placeholder="* Senha" onkeyup="valNoSpace(this)">
        </div>

        <div class="line">
            <input id="edtRePass" type="password" maxlength="12" placeholder="* Repita a Senha" onkeyup="valNoSpace(this)">
        </div>

        <div class="line">
            <input id="edtCel" type="text" maxlength="14" placeholder="Celular" onkeyup="phone(this)">
        </div>

        <button  class="btn-backhand btn-fill" id="btnAddUser">Salvar</button>
    </div>

</template>
<script>


    document.querySelector('#btnAddUser').addEventListener('click',()=>{
        const pass = document.querySelector('#edtPass').value.trim()
        const repass = document.querySelector('#edtRePass').value.trim()
        if(pass == repass){     
            if(goon('edtMail,edtPass,edtName')){
                const email = document.querySelector('#edtMail').value.trim().toLowerCase()                
                const nome = document.querySelector('#edtName').value.trim().toUpperCase()
                const params = new Object;
                    params.id = 'DEFAULT'
                    params.email = email
                    params.hash = (email+pass).getHash(77)
                    params.name = nome
                    params.nick = nome
                    params.cel = document.querySelector('#edtCel').value.trim()
                    params.class = 0
                    params.lat = mainData.data.lat
                    params.lng = mainData.data.lng
                const myPromisse = queryDB(params,1);
                myPromisse.then((resolve)=>{
                        alert('Usuário cadastrado com sucesso!')
                        closeModal()       
                })
            }
        }else{
            alert('As senhas não conferem.')
            document.querySelector('#edtRePass').focus()
        }

    })


</script>