<title>
    Login de Usuário
</title>
<template>
    <style>
        
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            background-color: rgba(0, 0, 0, 0.623);
            border-radius: 5px;
            height: 100vh;
            max-width: 400px;
        }

        input[type="email"], input[type="password"]{
            width: 250px;
            height: 30px;
        }

        #btnLogin{
            width: 250px;
        }

        .main-content{
            background-image: url("assets/background/05.jpg");
            background-position: right;
            
            background-size: cover;
            
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .login-title{
            width: 100%;
            height: 100px;
            background-color: black;
            color: antiquewhite;
            padding-top: 25px;
        }

        .login-title h1{
            text-align: center;
            font-size: 2em;
            font-weight: normal;
        }

        .login-text{
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            align-items: center;
            color: white;
        }

        #btnNewUser:hover{
            cursor: pointer;
            color: rgb(211, 247, 51);
        }

    </style>

    <div id="local">

        <div class="form">
            <div class="login-title">
                <h1>Fazer login</h1>
            </div>
            <div class="login-text">
                <input type="email" id="edtEmail" inputmode="email" placeholder="  Seu e-mail">
                <input type="password" id="edtSenha" placeholder="  Senha" onkeyup="valNoSpace(this)">
                <button id="btnLogin" class="btn-backhand btn-fill" >login</button>
                <div>
                    <p id="btnNewUser" onclick="openHTML('newUser.html','modal',null,500)">Novo Usuário?</p>
                </div>

            </div>
    
        </div>

    </div>


</template>
<script>

    document.querySelector('#btnLogin').addEventListener('click',()=>{

        function localizaUser(data){
            const params = new Object;
                params.id =  data.id
                params.email =  data.email
                params.hash = data.hash
                params.nome = data.nome
                params.nick = data.nick
                params.cel = data.cel
                params.class = data.class
                params.lat = mainData.data.lat
                params.lng = mainData.data.lng
            queryDB(params,1)
        }

        if(goon('edtEmail,edtSenha')){
            const params = new Object;
                params.email =  document.querySelector('#edtEmail').value.trim()
                params.hash = (params.email+document.querySelector('#edtSenha').value.trim()).getHash(77)

            const myPromisse = queryDB(params,0)

            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)                
                if(json.length > 0){
                    mainData.data.lat = json[0].lat  
                    mainData.data.lng = json[0].lng

                    localStorage.setItem('idUser',json[0].id)
                    localStorage.setItem('email',json[0].email)
                    localStorage.setItem('hash',json[0].hash)
                    localStorage.setItem('nome',json[0].nome)
                    localStorage.setItem('nick',json[0].nick)
                    localStorage.setItem('cel',json[0].cel)
                    localStorage.setItem('class',json[0].class)   
                    localStorage.setItem('lat',json[0].lat)   
                    localStorage.setItem('lng',json[0].lng)   
                    localStorage.setItem('log',true)   
                    localizaUser(json[0])
                    document.querySelector('#log-inout').innerHTML = 'Sair'
                    document.querySelector('#footer').style.display = 'block'   
                    document.querySelector('.dashboard').style.width = '70%'                 
                    openHTML('dashboard.html','screen')
                    loadActivity()
                    fillPerfil(json[0].id)
                    openScreen(false)
                }else{
                    alert('Usuário ou senha inválido!')
                    localStorage.clear();
                    openScreen(true)
                }

            })
        }

    })

</script>