<title>Pesquisa de Atletas</title>
<template>
    <style>

        .form-viewList{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .form-viewList input, .form-viewList select{
            padding: 5px;
        }

        .form-viewList .edtbtn{
            width: 100%;
        }

        #searchFriends{
            width: 100%;
            height: 400px;
            overflow-y: scroll;
        }


    </style>

    <div class="form-viewList">

        <label for="edtNomeAtleta">Name do Atleta</label>
        <div class="edtbtn">
            <input type="text" id="edtNomeAtleta">
            <button id="btnSearchAtleta"><i class="fas fa-search"></i></button>
        </div>
        <div id="searchFriends"></div>

       
    </div>


</template>
<script>
    
    const data = mainData.viewAtleta.data
    const scroll = {start:0, limit:10}


    mainData.viewAtleta.func.onClose = ()=>{
        if(data.origem =='social'){
            mainData.social.func.viewFriends('hostID','#myFriends','guestname','guestID')
            mainData.social.func.viewFriends('guestID','#iFriend','hostname','hostID')
        }
    }

    mainData.viewAtleta.func.findAtleta = ()=>{
        const params = new Object;
            params.id = localStorage.getItem('idUser')            
            params.nome = document.querySelector('#edtNomeAtleta').value.trim()    
            params.start = scroll.start
            params.limit = scroll.limit

        const myPromisse = queryDB(params,26)

        myPromisse.then((resolve)=>{
            const friends =  JSON.parse(resolve)
            showFriends(friends)
        })
    }

    mainData.viewAtleta.func.friendsDistance = (radius)=>{
        const params = new Object;
            params.hash = localStorage.getItem('hash')
            params.distance = radius

        const myPromisse = queryDB(params,24)

        myPromisse.then((resolve)=>{
            const friends =  JSON.parse(resolve)
            showFriends(friends)                   
        })
    }

    if(data.origem == 'social'){
        mainData.viewAtleta.func.friendsDistance(100)
    }else{
        mainData.viewAtleta.func.findAtleta()
    }

    

    document.querySelector('#btnSearchAtleta').addEventListener('click',()=>{
        scroll.start = 0
        mainData.viewAtleta.func.findAtleta()
    })


    document.querySelector('#searchFriends').addEventListener('scroll',()=>{
        const win = document.querySelector('#searchFriends')
        if( win.scrollTop === (win.scrollHeight - win.offsetHeight)){
            scroll.start += scroll.limit
            mainData.viewAtleta.func.findAtleta()
        }
    })



    function repeatUser(id){

        const A = mainData.newActivity.data.timeA.filter(e => e.userID === id).length
        const B = mainData.newActivity.data.timeB.filter(e => e.userID === id).length
        return  A || B

    }


    function showFriends(friends){

        const div_search = document.querySelector('#searchFriends') 
        scroll.start === 0 ? div_search.innerHTML = '' : 0
        for(let i=0; i<friends.length; i++){      

            if(data.origem == 'newActivity'){
                while(repeatUser(friends[i].userID)){
                    i++
                }
            }

            const div = document.createElement('div')
            div.className = 'view-inline'

            const leftdiv = document.createElement('div')
            leftdiv.style.display = 'flex'

            const img = document.createElement('img')
            img.src = `assets/users/${friends[i].userID}.jpg`
            img.className = 'imgUser'
            img.addEventListener('error',()=>{
                img.src = 'assets/user.jpeg'
            })
            leftdiv.appendChild(img)

            const p = document.createElement('p')
            p.innerHTML = friends[i].nome
            leftdiv.appendChild(p)
            div.appendChild(leftdiv)

            if(data.origem == 'newActivity'){ // nova atividade
                const btn = document.createElement('button')
                btn.innerHTML = 'ADICIONAR'
                btn.className = 'btn btn-primary'
                btn.addEventListener('click',()=>{
                    mainData.newActivity.data[data.time].push(friends[i])
                    mainData.newActivity.func.fillTime(data.time)
                    closeModal(0)
                })
                div.appendChild(btn)                    
            }else if(data.origem == 'social'){ // social / seguir
                if(friends[i].FOLLOW=="0" && localStorage.getItem('idUser')!= friends[i].userID ){
                const btn = document.createElement('button')
                    btn.innerHTML = 'SEGUIR'
                    btn.className = 'btn btn-primary'

                    btn.addEventListener('click',()=>{
                        const params = new Object;
                            params.hash = localStorage.getItem('hash')
                            params.id_guest = friends[i].userID
                        queryDB(params,23).then((resolve)=>{
                            console.log(resolve)
                        })
                        btn.style.display = 'none'     
                    })

                    div.appendChild(btn)
                }
            }else if(data.origem == 'torneio'){ // torneio
                                
                const btn = document.createElement('button')
                btn.innerHTML =  mainData.viewTorn.data.id_atleta.includes(friends[i].userID) ?'RETIRAR':'CONVIDAR'
                btn.className = 'btn btn-primary'
                btn.addEventListener('click',()=>{

                    const ok = mainData.viewTorn.data.id_atleta.includes(friends[i].userID) ? confirm('Retirar o convite a este atleta?') : true
                    if(ok){
                        const params = new Object;
                            params.hash = localStorage.getItem('hash')
                            params.id_torn = mainData.viewTorn.data.address
                            params.id_atleta = friends[i].userID
                        queryDB(params,41).then((resolve)=>{
                            mainData.viewTorn.func.getTorn()
                            closeModal(0)
                        })                    
                    }
                })
                div.appendChild(btn)                      
            }

            div_search.appendChild(div)
        }
    }

</script>