<title></title>
<template>
    <style>
        #map{
            width: 100%;
            height: 200px;
            max-width: 500px;
        }

        p{
            text-indent: 0;
        }

        h2, p{
            padding: 0 20px;
        }

        .line{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 10px;
            margin: 10px;
        }

        .center{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
        }

        .view-sets{
            align-items: center;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            cursor: zoom-in;
        }
                
    </style>

    <div class="form">
        <div class="center" >
            <h2 id="atv-titulo"></h2>
            <div class="line">
                <p id="atv-atleta"></p>
            </div>
            <div id="map"></div>
        </div>


        <div class="line">
            <p id="atv-data"></p>
            <p id="atv-hora"></p>
            <p id="atv-tempo"></p>
        </div>
        <div class="view-sets"></div>
        <div class="action-btn line"></div>
        
    </div>




</template>
<script>
    
    console.log(mainData.viewTrainning.data)

    getTrainning(mainData.viewTrainning.data.address)
    removeHash()
     

    function getTrainning(id){
       
       const params = new Object;
       params.id =  parseInt(id)

       const myPromisse = queryDB(params,28);
       myPromisse.then((resolve)=>{
           const json = JSON.parse(resolve)
           fillGame(json[0])
       })
    }

    function fillGame(data){
console.log(data)


        let timeA = ''
        let timeB = ''
        const players = data.ATLETAS.split(',')
        const times = data.LADO.split(',')
        for(let j=0; j<players.length; j++){
            times[j].trim()=='A'? timeA += players[j].trim()+',':timeB += players[j].trim()+','
        }  
        timeA = timeA.substring(0,timeA.length-1)
        timeB = timeB.substring(0,timeB.length-1)

        document.querySelector('.title-viewTrainning').innerHTML = data.EVENTO
        document.querySelector('#atv-atleta').innerHTML = `${timeA}  ${data.SETS_P1} x ${data.SETS_P2}  ${timeB}`
        document.querySelector('#atv-titulo').innerHTML = data.nome
        document.querySelector('#atv-data').innerHTML = `date: ${data.dia.showDate()}`
        document.querySelector('#atv-hora').innerHTML = `time: ${data.dia.showTime()}`
        document.querySelector('#atv-tempo').innerHTML = `elapsed time: ${parseInt(data.duracao/60).toString().padStart(2,'0')}:${parseInt(data.duracao%60).toString().padStart(2,'0')}`

        if(data.id_usuario == localStorage.getItem('idUser')){
            const actBtn = document.querySelector('.action-btn')

            const btnEdit = document.createElement('button')
            btnEdit.className = 'btn btn-primary'
            btnEdit.innerHTML = 'EDIT'
            btnEdit.addEventListener('click',()=>{
                openHTML('newActivity.html','modal',data,400)
            })
            actBtn.appendChild(btnEdit)

            const btnDel = document.createElement('button')
            btnDel.className = 'btn btn-primary'
            btnDel.innerHTML = 'DELETE'
            btnDel.addEventListener('click',()=>{
                if(confirm('Do you realy wanna delete this trainning?')){
                const params = new Object;
                    params.id_ATV = parseInt(mainData.viewTrainning.data.address)

                const myPromisse = queryDB(params,11);
                myPromisse.then(()=>{
                    const form = document.getElementById(mainData.data.formID)
                    form.parentNode.removeChild( form )
                    closeModal('')
                })
            }            })
            actBtn.appendChild(btnDel)            
        }else{
            const id_atletas = data.ID_ATLETAS.split(',')
            if(id_atletas.includes(localStorage.getItem('idUser'))){
                
                const i = id_atletas.indexOf(localStorage.getItem('idUser'))
                const ask = parseInt(data.ASK.split(',')[i])
                const conf = parseInt(data.CONFIRM.split(',')[i])

                if(ask && !conf){

                    const actBtn = document.querySelector('.action-btn')
                    const btnConfirm = document.createElement('button')
                    btnConfirm.className = 'btn btn-primary'
                    btnConfirm.innerHTML = 'CONFIRME'
                    btnConfirm.addEventListener('click',()=>{
                        if(confirm('Você confirma os dados do jogo acima como verdadeiro?')){
                            const params = new Object;
                                params.id_ATV = parseInt(mainData.viewTrainning.data.address)
                                params.hash = localStorage.getItem('hash')
                                params.confirm = "TRUE"
                                params.ask = "FALSE"
                            const myPromisse = queryDB(params,30);
                            myPromisse.then(()=>{
                                alert('Resultado confirmado!')
                                closeModal('')
                            })
                        }                       
                    })
                    actBtn.appendChild(btnConfirm)
                }
            }
        }

        map = createMap('map',[data.lat, data.lng])
        pinMap([data.lat, data.lng],map)
        map.locate({setView: false, maxZoom: 30})
        disableMap(map)

        const params = new Object;
            params.id_ATV = data.id

        const myPromisse = queryDB(params,15);
        myPromisse.then((result)=>{
            data.sets = JSON.parse(result)
            for(let i=0; i<data.sets.length; i++){
                const p = document.createElement('p')
                p.innerHTML = 'SET '+(i+1).toString().padStart(2,0) + ' - '+data.sets[i].p1_score.padStart(2,0)+' x '+data.sets[i].p2_score.padStart(2,0)
                p.title = data.sets[i].obs
                document.querySelector('.view-sets').appendChild(p)
            }            
        })
    }
    


</script>