<title></title>
<template>
    <style>
        .box{
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
        }

        table{
            width: 100%;
        }

        legend{
            position: relative;
            top: -7px;
            left: 10px;
            background: #ffffff;
            padding: 5px;
            width: 65px;
            height: 15px;
            align-items: center;       
            display: flex;
        }

        .edge{
            display: flex;
            border: solid 1px;
            border-radius: 10px;
            margin: 10px;
        }

        #img-logo{
            width: 100px;
            height: max-content;
            margin: 10px;
            border-radius: 50%;
        }

        .torn-owner{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;                 
            width: calc(100% - 140px);
            margin: 10px;
 
        }

        .line{
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: center;
        }

        #show-atl{
            padding: 10px;
        }

        .torn-invite{
            display: flex;
            gap: 10px; 
            padding: 15px;
        }
        .view-inline p{
            text-indent: 0.5;
        }
        .owner-btn{
            display: none;
        }

        .th-title{
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
        }

        #divTabela,#divJogos{
            display: none;
            flex-direction: column;
            align-items: center;
            min-height: 100px;
        }

        @media (max-width: 769px) {
            .edge label{
                font-size: 0.8em;
            }

            .break-line{
                align-content: start;
                flex-wrap: wrap;
            }

            .view-inline p{
                font-size: 0.8em;
                text-indent: 0;
            }

        }

    </style>

    <div class="frm-torn">
        <div class="edge">
            <img id="img-logo" alt="">
            <div class="torn-owner">
                <div class="line break-line">
                    <div class="line">
                        <label>Criado por</label>
                        <h4 id="torn-owner"></h4>
                    </div>
                    <div class="line">
                        <label>em</label>
                        <h4 id="torn-data"></h4>
                    </div>
                </div>
                <div class="line">
                    <label>Prêmio (<span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span>)</label>
                    <h4 id="torn-premio"></h4>
                </div>
                <div class="line"></div>
                <label>Regras:</label>
                <label id="torn-regras" style="text-indent: 15px;"></label>
            </div>
        </div>
    
    
        <div class="edge" style="flex-direction: column;">
            <legend>Atletas</legend>
            <div class="torn-invite">
                <div class="box">
                    <label>Vagas:</label>
                    <h2 id="atl-tot">00</h2>
                </div>
                <div class="box">
                    <label>Convidados:</label>
                    <h2 id="atl-conv">00</h2>
                </div>  
                <div class="box">
                    <label>Confirmados:</label>
                    <h2 id="atl-conf">00</h2>
                </div>
            </div>
            <div id="show-atl"></div>
            <div class="line owner-btn">
                <button id="btnInvite" class="btn btn-primary">CONVIDAR</button>
                <button id="btnGerar" class="btn btn-primary">INICIAR</button>
            </div>
        </div>
    
        <div id="divTabela" class="edge">
            <legend>Tabela</legend>
        </div>

        <div id="divJogos" class="edge">
            <legend>Jogos</legend>
            <table id="tblJogos"></table>
        </div>


    </div>





</template>
<script>

    function deployTorn(torn){
        try{
            torn.ID_ATLETA = torn.ID_ATLETA.split(',')
            torn.NOME_ATLETA = torn.NOME_ATLETA.split(',')
            torn.NIVEL_ATLETA = torn.NIVEL_ATLETA.split(',')
            torn.ACCEPT_ATLETA = torn.ACCEPT_ATLETA.split(',')
            torn.num_grupos = Number(torn.num_grupos)
            torn.num_players = Number(torn.num_players)
            torn.playOff = Number(torn.playOff)
            torn.status = Number(torn.status)
        }catch{
            torn.ID_ATLETA = []
            torn.NOME_ATLETA = []
            torn.NIVEL_ATLETA = []
            torn.ACCEPT_ATLETA = []
            torn.status = 0
        }
        torn.ok = 0

        return torn
    }

    mainData.viewTorn.func.getTorn = ()=>{
        const params = new Object;
                params.id = mainData.viewTorn.data.address

            const myPromisse = queryDB(params,40);
            myPromisse.then((resolve)=>{
                const torn = deployTorn(JSON.parse(resolve)[0])
                const tornData = new Date(torn.criado)
                mainData.viewTorn.data.torneio = torn

                mainData.viewTorn.data.num_players = Number(torn.num_players)
                mainData.viewTorn.data.id_owner = torn.id_owner
                document.querySelector('.title-viewTorn').innerHTML = torn.nome
                document.querySelector('#torn-owner').innerHTML = torn.OWNER_NOME
                document.querySelector('#torn-data').innerHTML = tornData.getFormatBR()
                document.querySelector('#torn-premio').innerText = torn.PREMIO
                document.querySelector('#torn-regras').innerText = torn.regras
                document.querySelector('#atl-tot').innerText = (torn.num_players).toString().padStart(2,0)
                document.querySelector('#atl-conv').innerText = torn.CONVITES.padStart(2,0)
                document.querySelector('#atl-conf').innerText = torn.ACEITOS.padStart(2,0)

                if(torn.status > 0){
                    if(torn.modelo !='1'){
                        document.querySelector('#divTabela').style.display = 'flex'
                    }
                    document.querySelector('#divJogos').style.display = 'flex'
                    mainData.viewTorn.func.fillJogos()
                }

                if(torn.id_owner == localStorage.getItem('idUser')){
                    document.querySelector('.owner-btn').style.display = 'flex'
                }

                const img = document.querySelector('#img-logo')
                img.src = `assets/torn/${torn.id}.jpg?`+ new Date().getTime();
                breakImg(img,'assets/torn/trophy.jpg')

                mainData.viewTorn.func.fillAtletas(torn)
            })

    }

    mainData.viewTorn.func.fillAtletas = (torn)=>{
   console.log(torn)
        const main = document.querySelector('#show-atl')
        main.innerHTML = ''

        torn.ok=0
        for(let i=0; i<  torn.ID_ATLETA.length; i++){
            torn.ok += torn.ACCEPT_ATLETA[i]=='1' ? 1 : 0

            const div = document.createElement('div')
            div.className = 'view-inline'

            div.addEventListener('click',()=>{
                if([torn.id_owner, torn.ID_ATLETA[i]].includes(localStorage.getItem('idUser'))){
                    openHTML('tornConfirm.html','modal',{id_torn:torn.id,id_owner:torn.id_owner,id_atleta:torn.ID_ATLETA[i]},400)
                }
            })

            const leftdiv = document.createElement('div')
            leftdiv.style.display = 'flex'
            
            const img = document.createElement('img')
            img.src = `assets/users/${ torn.ID_ATLETA[i]}.jpg`
            img.className = 'imgUser'
            breakImg(img)

            img.addEventListener('click',()=>{
                window.location.hash = 'P'+ torn.ID_ATLETA[i].padStart(10,0)
                loadHash()
            })
            leftdiv.appendChild(img)

            const check = document.createElement('span')
            check.className = 'mdi'
            check.classList.add(  torn.ACCEPT_ATLETA[i] == '1' ? 'mdi-check-bold' : 'mdi-chat-question')
            check.style = ` color:${ torn.ACCEPT_ATLETA[i] == '1' ?'green':'red'} ; position: relative; left:-13; width: 0;`
            leftdiv.appendChild(check)

            const p = document.createElement('p')
            p.innerHTML =  torn.NOME_ATLETA[i]
            leftdiv.appendChild(p)
            div.appendChild(leftdiv)

            const rate = document.createElement('div')
            rate.className = 'rating-line'
            rate.style = 'display: flex; gap:15px; align-items: center; width:auto;'

            rate.innerHTML += `          
                    <div class="rating">                        
                        <progress id="rating-nivel-${ torn.ID_ATLETA[i]}" class="rating-bg" value="${ torn.NIVEL_ATLETA[i]}" max="5"></progress>
                        <svg><use xlink:href="#fivestars"/></svg>
                    </div>
                    <h4 style="width:30px;">${Number( torn.NIVEL_ATLETA[i]).toFixed(2)}</h4>
                    `
            div.appendChild(rate)
            main.appendChild(div)   
                        
        }
    }

    function fatoracao(N){
        let resto = 0
        let count = 0
        while(resto==0){
            resto = N%2
            N=N/2
            count++
        }
        return count-1
    }

    mainData.viewTorn.func.fillJogos = ()=>{
        const params = new Object;
                params.id = mainData.viewTorn.data.address

            const myPromisse = queryDB(params,45);
            myPromisse.then((resolve)=>{
                const jogos = JSON.parse(resolve)
                const tbl = document.querySelector('#tblJogos')
                console.log(jogos)
                
                const model = mainData.viewTorn.data.torneio.modelo
                let last_grp = ''

                tbl.head('Data, Jogador A,|min,X|min,|min,Jogador B,','Upp,Upp,str,let,str,Upp')
                for(let i=0; i<jogos.length; i++){
                    const grp = Number(jogos[i].grupo) 
                    if(grp!=last_grp ){
                        last_grp = grp
                        switch (model){
                            case '1':
                                const fases = ['FINAL','SEMI FINAL','QUARTAS DE FINAL','OITAVAS DE FINAL']
                                const index = fatoracao(mainData.viewTorn.data.torneio.playOff)-grp
                                const fase_nome = index>fases.length ? 'Fase '+ grp : fases[index]

                            console.log(index)

                                tbl.innerHTML += `<tr><th class="th-title" colspan="6"> ${fase_nome}</th></tr>`
                            break
                            case '2':
                                tbl.innerHTML += `<tr><th class="th-title" colspan="6"> Grupo ${String.fromCharCode(64+grp)}</th></tr>`
                            break
                        }
                    }



                    tbl.plot(jogos[i],'data,P1_nome,P1_score|min,X|min,P2_score|min,P2_nome','dat,Upp,int,let,int,Upp') 
                }
            })
    }


    mainData.viewTorn.func.getTorn()
    
    document.querySelector('#btnInvite').addEventListener('click',()=>{
        if(mainData.viewTorn.data.torneio.ID_ATLETA.length >= Number(mainData.viewTorn.data.torneio.num_players)){
            alert('Número de vagas encerrada')            
        }else{
            openHTML('viewAtleta.html','modal',{origem:'torneio'})
        }
    })

    document.querySelector('#btnGerar').addEventListener('click',()=>{
        let ok = 0
        if(mainData.viewTorn.data.torneio.ID_ATLETA.length > mainData.viewTorn.data.torneio.ok){
                alert('Ainda falta a confirmação de alguns participantes!')
        }else{
            ok = (mainData.viewTorn.data.torneio.ID_ATLETA.length < mainData.viewTorn.data.torneio.num_players)?confirm('Ainda existem vagas em aberto, deseja adicionar atletas não usuários manualmente?'):true
        }

        if(ok){
            openHTML('geraJogos.html','modal',null,500)
        }
    })
    


</script>