<title></title>
<template>
    <style>
        .box{
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
        }


        legend{
            position: relative;
            top: -7px;
            left: 10px;
            background: #ffffff;
            padding: 5px;
            width: 65px;
            height: 15px;
            align-items: center;       
            display: flex;
        }

        .edge{
            display: flex;
            border: solid 1px;
            border-radius: 10px;
            margin: 10px;
        }

        #img-logo{
            width: 100px;
            height: max-content;
            margin: 10px;
            border-radius: 50%;
        }

        .torn-owner{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;                 
            width: calc(100% - 140px);
            margin: 10px;
 
        }

        .line{
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: center;
        }

        #show-atl{
            padding: 10px;
        }

        .torn-invite{
            display: flex;
            gap: 10px; 
            padding: 15px;
        }
        .view-inline p{
            text-indent: 0.5;
        }
        .owner-btn{
            display: none;
        }

        #divJogos, #divTabela{
            min-height: 100px;

        }

        @media (max-width: 769px) {
            .edge label{
                font-size: 0.8em;
            }

            .break-line{
                align-content: start;
                flex-wrap: wrap;
            }

            .view-inline p{
                font-size: 0.8em;
                text-indent: 0;
            }

        }

    </style>

    <div class="frm-torn">
        <div class="edge">
            <img id="img-logo" alt="">
            <div class="torn-owner">
                <div class="line break-line">
                    <div class="line">
                        <label>Criado por</label>
                        <h4 id="torn-owner"></h4>
                    </div>
                    <div class="line">
                        <label>em</label>
                        <h4 id="torn-data"></h4>
                    </div>
    
                </div>
                <div class="line"></div>
                <label>Regras:</label>
                <label id="torn-regras" style="text-indent: 15px;"></label>
            </div>
        </div>
    
    
        <div class="edge" style="flex-direction: column;">
            <legend>Atletas</legend>
            <div class="torn-invite">
                <div class="box">
                    <label>Vagas:</label>
                    <h2 id="atl-tot">00</h2>
                </div>
                <div class="box">
                    <label>Convidados:</label>
                    <h2 id="atl-conv">00</h2>
                </div>  
                <div class="box">
                    <label>Confirmados:</label>
                    <h2 id="atl-conf">00</h2>
                </div>
            </div>
            <div id="show-atl"></div>
            <div class="line owner-btn">
                <button id="btnInvite" class="btn btn-primary">CONVIDAR</button>
                <button id="btnGerar" class="btn btn-primary">INICIAR</button>
            </div>
        </div>
    
        <div id="divTabela" class="edge">
            <legend>Tabela</legend>
        </div>

        <div id="divJogos" class="edge">
            <legend>Jogos</legend>
        </div>


    </div>





</template>
<script>

    mainData.viewTorn.data.id_atleta = []   
    mainData.viewTorn.data.id_confirm = [] 

    mainData.viewTorn.func.getTorn = ()=>{
        const params = new Object;
                params.id = mainData.viewTorn.data.address

            const myPromisse = queryDB(params,40);
            myPromisse.then((resolve)=>{
                const torn = JSON.parse(resolve)[0]
                const tornData = new Date(torn.criado)
                mainData.viewTorn.data.torneio = torn

                mainData.viewTorn.data.num_players = Number(torn.num_players)
                mainData.viewTorn.data.id_owner = torn.id_owner
                document.querySelector('.title-viewTorn').innerHTML = torn.nome
                document.querySelector('#torn-owner').innerHTML = torn.OWNER_NOME
                document.querySelector('#torn-data').innerHTML = tornData.getFormatBR()
                document.querySelector('#torn-regras').innerText = torn.regras
                document.querySelector('#atl-tot').innerText = torn.num_players.padStart(2,0)
                document.querySelector('#atl-conv').innerText = torn.CONVITES.padStart(2,0)
                document.querySelector('#atl-conf').innerText = torn.ACEITOS.padStart(2,0)

                if(torn.id_owner == localStorage.getItem('idUser')){
                    document.querySelector('.owner-btn').style.display = 'flex'
                }

                const img = document.querySelector('#img-logo')
                img.src = `assets/torn/${torn.id}.jpg?`+ new Date().getTime();
                breakImg(img,'assets/torn/trophy.jpg')

                mainData.viewTorn.func.fillAtletas()
            })

    }

    mainData.viewTorn.func.fillAtletas = ()=>{

        const params = new Object;
            params.id = mainData.viewTorn.data.address

        const myPromisse = queryDB(params,42);
        myPromisse.then((resolve)=>{
            const atletas = JSON.parse(resolve)
            const main = document.querySelector('#show-atl')
            main.innerHTML = ''
            mainData.viewTorn.data.id_atleta = []
            mainData.viewTorn.data.id_confirm = []
            mainData.viewTorn.data.atletas = atletas
            for(let i=0; i< atletas.length; i++){

                mainData.viewTorn.data.id_atleta.push(atletas[i].id_atleta)
                atletas[i].accept == '1' ? mainData.viewTorn.data.id_confirm.push(atletas[i].id_atleta) :0
            
                const div = document.createElement('div')
                div.className = 'view-inline'

                div.addEventListener('click',()=>{
                    if([mainData.viewTorn.data.id_owner,atletas[i].id_atleta].includes(localStorage.getItem('idUser'))){
                        openHTML('tornConfirm.html','modal',atletas[i],400)
                    }
                })

                const leftdiv = document.createElement('div')
                leftdiv.style.display = 'flex'
                
                const img = document.createElement('img')
                img.src = `assets/users/${atletas[i].id_atleta}.jpg`
                img.className = 'imgUser'
                breakImg(img)

                img.addEventListener('click',()=>{
                    window.location.hash = 'P'+atletas[i].id_atleta.padStart(10,0)
                    loadHash()
                })
                leftdiv.appendChild(img)

                const check = document.createElement('span')
                check.className = 'mdi'
                check.classList.add( atletas[i].accept == '1' ? 'mdi-check-bold' : 'mdi-chat-question')
                check.style = ` color:${atletas[i].accept == '1' ?'green':'red'} ; position: relative; left:-13; width: 0;`
                leftdiv.appendChild(check)

                const p = document.createElement('p')
                p.innerHTML = atletas[i].nome_atleta
                leftdiv.appendChild(p)
                div.appendChild(leftdiv)

                const rate = document.createElement('div')
                rate.className = 'rating-line'
                rate.style = 'display: flex; gap:15px; align-items: center; width:auto;'
/*
                let ok = localStorage.getItem('idUser') == atletas[i].id_atleta
                ok = !mainData.data.torn.includes(Number(mainData.viewTorn.data.address).toString()) ? 0 : ok
*/
                rate.innerHTML += `          
                        <div class="rating">                        
                            <progress id="rating-nivel-${atletas[i].id_atleta}" class="rating-bg" value="${atletas[i].nivel}" max="5"></progress>
                            <svg><use xlink:href="#fivestars"/></svg>
                        </div>
                        <h4 style="width:30px;">${Number(atletas[i].nivel).toFixed(2)}</h4>
                        `
                div.appendChild(rate)
                main.appendChild(div)                    
            }
        })
    }

    mainData.viewTorn.func.getTorn()
    
    document.querySelector('#btnInvite').addEventListener('click',()=>{
        if(mainData.viewTorn.data.id_atleta.length == mainData.viewTorn.data.num_players){
            alert('Número de vagas encerrada')            
        }else{
            openHTML('viewAtleta.html','modal',{origem:'torneio'})
        }
    })

    document.querySelector('#btnGerar').addEventListener('click',()=>{
        let ok = 0
        if(mainData.viewTorn.data.id_atleta.length > mainData.viewTorn.data.id_confirm.length){
                alert('Ainda falta a confirmação de alguns participantes!')
        }else{
            ok = (mainData.viewTorn.data.id_atleta.length < mainData.viewTorn.data.num_players)?confirm('Ainda existem vagas em aberto, deseja adicionar atletas não usuários manualmente?'):true
        }

        if(ok){
            openHTML('geraJogos.html','modal',null,500)
        }
    })
    


</script>