<title>
    Meu Perfil
</title>
<template>
    <style>

        
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 50px;
        }

        input{
            width: 250px;
            height: 30px;
        }

        #cnvImg{
            border: solid 1px;
        }

        #btnNewEquip{
            top: 125px;
        }


    </style>

    <div class="tab-bar">
        <div class="tab-item" id="tab-perfil" onclick="pictab(this)">Perfil</div>
        <div class="tab-item" id="tab-equip"  onclick="pictab(this)">Equipamentos</div>
        <div class="tab-item" id="tab-quadras"  onclick="pictab(this)">Quadras</div>
    </div>
    <div class="tab-screen">        
        <div id="perfil" class="tab">


            <div class="form">

                
                <label>Imagem</label>
                <canvas width="300" height="300" id="cnvImg"></canvas>
                <input  name="up_file" id="up_file" type="file" accept=".jpg,.jpeg,.png">
        
                <button id="btnUpload" class="btn btn-primary">upload</button>
        
        
                <div class="line">
                    <input id="edtMail" type="email" maxlength="70" placeholder="* Email">
                </div>
        
                <div class="line">
                    <input id="edtPass" type="password" maxlength="12" placeholder="* Senha" onkeyup="valForbid(this,[' '])">
                </div>
        
                <div class="line">
                    <input id="edtName" type="text" maxlength="60" placeholder="* Nome" onkeyup="valForbid(this,[','])" >
                </div>
        
                <div class="line">
                    <input id="edtNick" type="text" maxlength="15" placeholder="Apelido" onkeyup="valForbid(this,[','])" >
                </div>
        
                <div class="line">
                    <input id="edtCel" type="text" maxlength="15" placeholder="Celular" onkeyup="phone(this)">
                </div>
        
                <div id="map"></div>
        
        
                <button  class="btn btn-primary" id="btnAddUser">Salvar</button>
            </div>


        </div>
        <div id="equip" class="tab">
            <label>Meus Equipamentos</label>
            <div id="btnNewEquip" onclick="openHTML('addEquip.html','modal',{id:'DEFAULT',id_owner:localStorage.getItem('idUser')},500)" class="btn-icon"><span class="mdi mdi-plus-circle-outline"></span></div>

            <div id="myEquip"></div>
        </div>
        <div id="quadras" class="tab">      
            <label>Minhas Quadras</label>
            <button id="btnFindCourt" class="btn-round"><i class="fas fa-search"></i></button>
            <div id="myCourts"></div>
        </div>

    </div>

</template>
<script>

    pictab(document.querySelector('#tab-perfil'))

    mainData.viewUser.func.fillEquip = ()=>{
        const params = new Object;
            params.id_owner = localStorage.getItem('idUser')

        const myPromisse = queryDB(params,31);
        myPromisse.then((resolve)=>{
            const equip = JSON.parse(resolve)
            const div_search = document.querySelector('#myEquip') 

            div_search.innerHTML = ''
            for(let i=0; i<equip.length; i++){      
                const div = document.createElement('div')
                div.className = 'view-inline'

                const p = document.createElement('p')
                p.innerHTML = `${equip[i].descricao} (${equip[i].marca})`
                div.appendChild(p)

                const btn = document.createElement('button')
                btn.innerHTML = 'EDITAR'
                btn.className = 'btn btn-primary'

                btn.addEventListener('click',()=>{                    
                    openHTML('addEquip.html','modal',equip[i],500)
                })

                div.appendChild(btn)
                div_search.appendChild(div)
            }
        })
    }

    mainData.viewUser.func.fillCourts = ()=>{
        const params = new Object;
            params.idUser = localStorage.getItem('idUser')

        const myPromisse = queryDB(params,6);
        myPromisse.then((resolve)=>{
            const courts = JSON.parse(resolve)

            const div_search = document.querySelector('#myCourts') 
            div_search.innerHTML = ''
            for(let i=0; i<courts.length; i++){      
                const div = document.createElement('div')
                div.className = 'view-inline'

                const p = document.createElement('p')
                p.innerHTML = courts[i].nome
                div.appendChild(p)

                const btn = document.createElement('button')
                btn.innerHTML = 'REMOVER'
                btn.className = 'btn btn-primary'

                btn.addEventListener('click',()=>{
                    const params = new Object;
                        params.hash = localStorage.getItem('hash')
                        params.id = courts[i].id
                    queryDB(params,7).then((resolve)=>{
//                        console.log(resolve)
                        div.style.display = 'none'     
                    })
                })

                div.appendChild(btn)
                div_search.appendChild(div)
            }
        })
    }

    mainData.viewUser.func.fillCourts()
    mainData.viewUser.func.fillEquip()

    const back = backFunc({'filename':`../assets/users/${localStorage.getItem('idUser')}.jpg`},1)

    back.then((resp)=>{
        const imgExist = JSON.parse(resp)

        let path = ''
        path = imgExist ? `assets/users/${localStorage.getItem('idUser')}.jpg` : 'assets/user.jpeg'    
        loadImg(path)
    })

    document.querySelector('#edtMail').value = localStorage.getItem('email')
    document.querySelector('#edtName').value = localStorage.getItem('nome')
    document.querySelector('#edtNick').value = localStorage.getItem('nick')
    document.querySelector('#edtCel').value = localStorage.getItem('cel')
    document.querySelector('#btnUpload').addEventListener('click',()=>{
        uploadImage('up_file','/../assets/users/',localStorage.getItem('idUser')+'.jpg')
        .then(()=>{
            fillPerfil(localStorage.getItem('idUser'))
        })
    })

    document.querySelector('#up_file').addEventListener('change',()=>{
        showFile('#up_file','#cnvImg')     
    })

    document.querySelector('#btnAddUser').addEventListener('click',()=>{

        if(goon('edtMail,edtPass,edtName')){
            const email = document.querySelector('#edtMail').value.trim().toLowerCase()
            const pass = document.querySelector('#edtPass').value.trim()
            const nome = document.querySelector('#edtName').value.trim().toUpperCase()

            const params = new Object;
                params.id = localStorage.getItem('idUser')
                params.email = email
                params.hash = pass=='' ? localStorage.getItem('hash') :(email+pass).getHash(77)
                params.name = nome
                params.nick = document.querySelector('#edtNick').value.trim()
                params.cel = document.querySelector('#edtCel').value.trim()
                params.class = 0
                params.lat = localStorage.getItem('lat')
                params.lng = localStorage.getItem('lng')
              
            const myPromisse = queryDB(params,1);
            myPromisse.then((resolve)=>{
                    alert('Usuário cadastrado com sucesso!')
                    fillPerfil(localStorage.getItem('idUser'))
                    closeModal()       
            })
        }
    })

    document.querySelector('#btnFindCourt').addEventListener('click',()=>{
        openHTML('findCourts.html', 'modal',{origem:'viewUser'})
    })


</script>