<title></title>
<template>
    <style>
        #map{
            width: 100%;
            height: 200px;
            max-width: 500px;
        }

        p{
            text-indent: 0;
        }

        h2, p{
            padding: 0 20px;
        }

        .line{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 10px;
        }

        .center{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
        }


    </style>

    <div class="form">
        <div class="line">
            <p id="atv-atleta"></p>

        </div>
        <div class="center" >
            <h2 id="atv-titulo"></h2>
            <div id="map"></div>
        </div>
        <div class="line">
            <p id="atv-data"></p>
            <p id="atv-hora"></p>
            <p id="atv-tempo"></p>
        </div>
        <div class="center">
            <button id="btnEdit" class="btn btn-primary">EDIT</button>
        </div>
        

    </div>




</template>
<script>
    
    const data = mainData.viewTrainning.data
    console.log(data)

    document.querySelector('.title-viewTrainning').innerHTML = data.EVENTO
    document.querySelector('#atv-atleta').innerHTML = `${data.nick} ${data.SETS_P1} vs ${data.SETS_P2} ${data.parceiro.split(' ')[0]}`
    document.querySelector('#atv-titulo').innerHTML = data.nome
    document.querySelector('#atv-data').innerHTML = `Date:${data.dia.showDate()}`
    document.querySelector('#atv-hora').innerHTML = `Time:${data.dia.showTime()}`
    document.querySelector('#atv-tempo').innerHTML = ` elapsed time:${parseInt(data.duracao/60).toString().padStart(2,'0')}:${parseInt(data.duracao%60).toString().padStart(2,'0')}`



    if(data.id_usuario != localStorage.getItem('idUser')){
        document.querySelector('#btnEdit').style.display = 'none'
    }

    map = createMap('map',[data.lat, data.lng])
    pinMap([data.lat, data.lng],map)
    map.locate({setView: false, maxZoom: 30})
    
    document.querySelector('#btnEdit').addEventListener('click',()=>{
        openHTML('newActivity.html','modal',data,400)
    })

    function fillSets(ATV){
        const params = new Object;
            params.id_ATV = ATV

        const myPromisse = queryDB(params,15);
        myPromisse.then(()=>{
            mainData.viewTrainning.data.sets = []
            
        })
    }



</script>